body {
    font-size: 2em;
    /* background-image: url(/images/Flag_of_Guatemala.svg); */
    font-family: sans-serif;
    margin: 2rem;
    line-height: 1.5;
}
h1 {
    font-size: 2rem;
}
p {
    max-width: 600px;
}
img {
    max-width: 50%;
    height: auto;
}

.large {
    max-width: 80%;
    height: auto;
}
